@font-face {
  font-family: 'Aestetico';
  src: url("/fonts/Aestetico-Regular.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Aestetico';
  src: url("/fonts/Aestetico-Bold.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}